/*nav bar*/

#nav-bar{
position:fixed;
width: 100%;
height: 80px;
background-color: #00a087;
color: #e8fdff;
padding-left: 2em;
padding-right: 2em;
z-index: 10;
}

#nav-bar .logo{
  float:left;
  width: 80px;
  height: 80px;
  margin-right: 5px;
}

#nav-bar .nav-button-icon {
  height:50px;
  width: 140px;
  float: right;
  color: green;
  font-size: 25px;
  padding-left: 5px;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #E6E6FA;
  align-content: center;
}

#nav-bar .nav-button-icon:active{
  background-color: white;
}

#nav-bar .header{
  margin-left: 5px;
  font-size: 2em;
  line-height: 80px;
  float: left;
}

 @media screen and (max-width: 450px) {

  #nav-bar {
    width: 100%;
  }

  #nav-bar .nav-button-icon {
    width: 25%;
  }
  #nav-bar .logo {
    width: 25%;
  }
  #nav-bar .head {
    width: 25%;
  }
}


